<link rel="stylesheet" href="/css/footer.css" />

<footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>¿Quieres hablarnos?</h4>
            <nav>
            <a class="f-a" href="/contactenos">Contacto</a>
            </nav>
        </div>
        <div class="content-foo">
            <h4>Conócenos</h4>
            <nav>
                <a class="f-a" href="/sobre-nosotros">Sobre Nosotros</a>
            </nav>
        </div>
        <div class="content-foo">
            <h4>Location</h4>
            <br>
            <p>Manta-Ecuador</p>
        </div>
    </div>
    <h2 class="titulo-final">&copy; AW I | Quinto "B" | 2021</h2>
</footer>